.room-main{
  margin: 0 auto;
  display: flex;
}

.room-container{
  margin-left: 30px;
  width: 25vw;
  padding: 40px;
}

.room-header{
  margin-bottom: 40px;
  border-bottom: 1px solid #bf8188;
}

.message-partner-box{
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid #bf8188;
}

.room{
  display: flex;
}

.img-box{
  position: relative;
}

.img-circle{
  border-radius: 50%;
}

.partner-info{
  width: 100%;
  margin-left: 15px;
}

.partner-name{
  font-weight: bold;
}

.chats > .partner-name{
  margin: 15px;
  padding: 0 10px;
  font-size: 18px;
}

.partner-details{
  display: flex;
  justify-content: space-between;
}

.latest-message{
  font-size: 14px;
  color: gray;
}

@media screen and (max-width:480px) {

  .room-container{
    margin-left: 0;
    width: 100%;
    padding: 2vh 3vw;
  }

  .chats > .partner-name{
    margin: 10px;
    padding: 0 10px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px){

  .room-container{
    margin-left: 0;
    width: 30vw;
    padding: 40px 20px;
  }
}