.chats{
  width: 50vw;
}

.chat{
  margin: 40px 15px;
  width: 100%;
  padding: 30px;
  border: 2px solid #bf8188;
  border-radius: 5px;
  max-height: 70vh;
  overflow: scroll;
}

/*  自身の送信メッセージ */

.outgoing-msg{ 
  margin-top: 40px;
  height: auto;
}

.sent-msg {
  width: 50%;
  display: flex;
  border-bottom: 1px solid #bf8188;
  margin-left: auto;
  justify-content: space-between;
}

.msg-content{
  font-weight: bold;
  margin-right: 10px;
  float: right;
  width: 65%;
}

.msg-content > p {
  color: darkred;
}

.msg-content > p > span {
  text-decoration: line-through;
  color: darkred;
}

.set-right{
  float: right;
}
/*  /自身の送信メッセージ */


/*  受信側 */

.incoming-msg{
  display: flex;
  margin-top: 40px;
  height: auto;
  width: 50%;
  border-bottom: 1px solid #bf8188;
}

.received-msg {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.received_withd_msg {
  width: 65%;
}

.avatar-img{
  position: relative;
}

.between-space{
  margin-left: 10px;
}

.balloon-top {
  position: relative;
  display: inline-block;
  margin: 1.5em auto;
  padding: 7px 10px;
  min-width: 100px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  text-align: center;
}

.balloon-top:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #e0edff;
}
/* /受信側 */

/*  送信コマンド */

.posts{
  width: 90%;
  margin: auto;
}

.form-text-field{
  width: 60%;
  padding: 3px;
  max-height: 200px;
}

.mini-send-btn{
  background: #44281e;
  border: none;
  color: #fff !important;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 auto;
  padding: 5px;
}