.chats{
  width: 50vw;
}

.chat{
  margin: 0 15px 40px;
  width: 100%;
  padding: 30px;
  border: 2px solid #bf8188;
  border-radius: 5px;
  max-height: 70vh;
  overflow: scroll;
}

/*  自身の送信メッセージ */

.outgoing-msg{ 
  margin-top: 40px;
  height: auto;
}

.sent-msg {
  width: 50%;
  display: flex;
  border-bottom: 1px solid #bf8188;
  margin-left: auto;
  justify-content: space-between;
}

.msg-content{
  font-weight: bold;
  margin-right: 10px;
  float: right;
  width: 65%;
}

.msg-content > p {
  color: darkred;
  margin-bottom: 5px;
}

.msg-content > p > span {
  text-decoration: line-through;
  color: darkred;
}

.set-right{
  float: right;
}
/*  /自身の送信メッセージ */


/*  受信側 */

.incoming-msg{
  display: flex;
  margin-top: 40px;
  height: auto;
  width: 50%;
  border-bottom: 1px solid #bf8188;
}

.received-msg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.received_withd_msg {
  width: 65%;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
}

.received_withd_msg > p {
  color: darkred;
  margin-bottom: 5px;
}

.received_withd_msg > p > span {
  text-decoration: line-through;
  color: darkred;
}

.avatar-img{
  position: relative;
}

.between-space{
  margin-left: 10px;
}
/* /受信側 */

/*  送信コマンド */

.posts{
  width: 90%;
  padding: 0 30px;
  margin-bottom: 20px;

}

.post-msg{
  display: flex;
}

.form-text-field{
  border: 1px solid black;
  width: 75%;
  padding: 3px;
  max-height: 200px;
  vertical-align: top;  
}

.mini-send-btn{
  background: #44281e;
  border: none;
  color: #fff !important;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  align-items: center;
}

@media screen and (max-width:480px) {

  .chats{
    width: 100%;
    padding: 2vh 3vw
  }
  
  .chat{
    margin: 0;
    padding: 10px;
  }

  .outgoing-msg{ 
    margin-top: 0;
    margin-bottom: 40px;
  }

  .sent-msg {
    width: 70%;
  }

  .incoming-msg{
    margin-top: 0;
    margin-bottom: 40px;
    width: 70%;
  }

  .received-msg > .created-time{
    font-size: 10px;
  }

  .posts{
    width: 100%;
    margin-top: 20px;
    vertical-align: top;
    height: auto;
    padding: 0;
  }

  .form-text-field{
    width: 80%;
    height: 35px;
  }
}

@media screen and (min-width:481px) and (max-width: 1024px){
  .chats{
    width: 68vw;
  }

  .chat{
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
  }

  .form-text-field{
    width: 80%;
  }
}