/* ログイン後の表示 */
.post-bar{
  height: 50px;
  background-color: #bf8188;
  text-align: center;
  align-items: center;
  display: flex;
}

.link{
  margin: 0 auto;
}

.post-btn{
  text-align: center;
  background-color:#44281e;
  font-weight: bold;
  color: #FFF !important;
  padding: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
}

.side-bar{
  min-width: 20vw;
  height: 100%;
  padding: 20px;
}

.main-bar{
  width: calc(100vw - 20vw);
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.plaza-list{
  margin-bottom: 30px;
  border-radius: 3px;
  padding: 10px;
}

.js-category-bar{
  float: right;
}

.plaza-header{
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #bf8188;
  margin-bottom: 5px;
}

.plaza-name{
  padding-left: 10px;
  margin-bottom: 10px;
}

.plaza-name:hover{
  border-bottom: 1px solid #bf8188;;
}

.like-ranking{
  font-weight: bold;
}


.article-box{
  height: 450px;
  border: 3px solid #bf8188;
  color: black;
  border-radius: 5px;
  width: 36vh;
  margin: 20px;
  padding: 2vh 10px;
}

.like-counter{
  float: right;
}

.article-title-name{
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.article-body{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.article-user{
  font-size: 13px;
}

.item-img{
  width: 32vh;
  height: 32vh;
  margin-bottom: 7px;
}

.check{
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.created-time{
  font-size: 12px;
  color: darkgray;
  right: 0;
  width: auto;
  flex-direction: column;
  margin-top: auto;
}

.received-msg > .created-time{
  position: absolute;
  font-size: 12px;
  color: darkgray;
  right: 0;
  bottom: 0;
  width: auto;
  flex-direction: column;
  margin-top: auto;
}

.tags{
  height: 3vh;
}

.click-post{
  background-color:#44281e;
  position: fixed;
  bottom: 5vh;
  right: 3vw;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.click-post:hover{
  opacity: 0.8;
  text-decoration: none;
}


.post-icon{
  color: #ffffff;
}

.sp-btn{
  display: none;
}

/* //ログイン後の表示 */

@media screen and (max-width:767px) {

  .post-bar{
    height: 40px;
  }

  .post-btn{
    color: #FFF !important;
    padding: 6px;
  }

  .sp-main{
    display: block;
  }

  .side-bar{
    align-items: baseline;
    width: 100%;
    height: 6vh;
    border: none;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 1vw 1vh;
    position: relative;
    background-color: #fff;
  }

  .category-list{
    width: 32vw;
    margin: 0;
    margin-right: 0;
    vertical-align: top;
  }

  .plaza-header{
    font-size: 11px;
  }

  .fa-bars{
    display: block !important;
  }

  .plaza-list{
    background-color: #fff;
    justify-content: space-between;
    padding: 1vw 1vh;
  }

  .plaza-name{
    z-index: 1000000;
    font-size: 14px;
  }

  .premier-list{
    display: none;
    margin-bottom: none;
    border-radius: none;

  }

  .main-bar{
    width: 100%;
    justify-content: center;
    background-color: #fff;
  }

  .item-img{
    width: 32vh;
    height: 20vh;
    margin-bottom: 7px;
  }

  .article-box{
    height: 350px;
    border: 3px solid #bf8188;
    color: black;
    border-radius: 5px;
    width: 36vh;
    margin: 20px;
    padding: 2vh 10px;
  }

  .user-icon{
    width: 50px;
    height: 50px;
  }


  .click-post{
    bottom: 3vh;
    right: 3vw;
    width: 60px;
    height: 60px;
  }

  .sp-btn{
    display: flex;
  }

  .pc-btn{
    display: none;
  }


}