/* border-bottom: 1px solid #eee; */


.article-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.article-header {
  padding: 5vh 0;
  text-align: center;
}

.article-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 10vw;
}

.article-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.question {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #0099e8;
  color: #FFF;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

.question-text {
  display: flex;
}

/* /共通 */

/* 投稿画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /投稿画像 */

/* 記事本文 */
.new-articles {
  padding: 2vh 0;
}

.articles-title{
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.articles-text {
  width: 100%;
  height: 200px;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  overflow: scroll;
  max-width: 100%; 
  height: auto;
}

.articles-explain {
  margin-top: 4vh;
}

/* /記事本文 */

/* プラザ選択 */
.choice-plaza {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.choice-plaza>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 2vh 0;
}

/* /プラザ選択  */

/* 下部ボタン */
.send-btn-contents {
  width: 100%;
  text-align: center;
  display: block;
}

.send-btn {
  background: #ea352d;
  color: #fff;
  width: 50%;
  height: 50px;
  font-size: 16px;
  margin: 0 auto 4vh;
  padding: 18px 0;
  text-decoration: none;
}

.back-btn {
  width: 50%;
  height: 50px;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  margin: 0 auto;
}

/* /下部ボタン */

.items-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.items-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}