/* 商品の概要 */

.show-containor{
  display: flex;
  justify-content: space-between;
}

.article-show {
  width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
}

.article-upper-content {
  background-color: #FFF;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.title-box{
  width: 70vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.contributor {
  margin-right: 0;
  text-align: end;
  position: absolute;
  right: 5vw;
  bottom: 0;
}

.nickname-link{
  text-decoration: underline;
  color: #333333;
}


.article-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  margin: 0 auto;
}

.article-desc{
  margin: 0 auto;
}

.content-header{
  font-size: 20px;
  border-bottom: 2px solid #3CCACA;
}

.content-area{
  width: 60vw;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
}

.edit-btn {
  text-align: center;
  background-color: #ea352d;
  font-weight: bold;
  color: #FFF;
  padding: 10px;
  margin-right: 20px;
}

.or-text {
  font-size: 20px;
}

.destroy-btn {
  background-color: lightgray;
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 10px;
}

.item-explain-box {
  font-size: 18px;
  margin: 40px 0px;
  overflow-wrap: anywhere;
}

.detail-table {
  margin-bottom: 30px;
  width: 60vw;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}


/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  padding: 20vh 0 0 0;
}

.comment-text {
  width: 100%;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
  margin-bottom: 30px;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 35px;
  background-color: lightgray;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 15px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.link-boxes{
  text-align: center;
  width: 100vw;
}

.links {
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.all-comments-box{
  padding: 0 20px;
}

.comments-index{
  max-height: 300px;
  margin-bottom: 20px;
  overflow: scroll;
}

.comments-title{
  margin-bottom: 30px;
}

.comments_lists{
  font-size: 15px;
}

.comments_list{
  margin-bottom: 25px;
  border-bottom: 1px solid #3CCACE;
}

.form-box{
  padding: 0 20px;
}