/* ヘッダー部 */
.edit-bar{
  width: 40vw;
  padding: 0 20px;
}


/* 商品の概要 */

.show-container{
  display: flex;
  justify-content: space-between;
}

.article-show {
  width: 70vw;
  display: flex;
  flex-direction: column;
  padding: 5vh 0;
}

.article-upper-content {
  background-color: #FFF;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.title-box{
  width: 70vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.contributor {
  margin-right: 0;
  text-align: end;
  position: absolute;
  right: 5vw;
  bottom: 0;
}

.nickname-link{
  text-decoration: underline;
  color: #333333;
}


.article-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  margin: 0 auto;
}

.tag-area{
  height: 5vh;
  padding: 10px;
  width: 60vw;
  margin: 0 auto 10px;
}

.article-desc{
  margin: 0 auto;
}

.content-header{
  font-size: 20px;
  border-bottom: 2px solid #bf8188;
}

.content-area{
  width: 60vw;
  height: 200px;
  margin-bottom: 20px;
  padding: 10px;
  height: auto;
  overflow: scroll;
}

.edit-btn {
  text-align: center;
  background-color: #ea352d;
  font-weight: bold;
  color: #FFF;
  padding: 10px;
  margin-right: 40px;
  border-radius: 3px;
}

.destroy-btn {
  background-color: lightgray;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  color: black;
  padding: 10px;
}
/* /商品の概要 */

/* タグ */

.tag-name{
  font-size: 20px;
}

/* /タグ */

.thumbs-up-btn{
  border: none;
  background-color: #fff;
}


/* コメント */

.comment-box {
  width: 40vw;
  padding: 40px;
}

.form-box{
  padding: 0 20px;
  display: flex;
}

.send-comment-text {
  width: 90%;
  padding: 7px;
  border: solid 2px #bf8188;
  border-radius: 3px;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 40px;
  background-color: #44281e;
  color: #fff;
  width: 20%;
  min-width: 80px;
  font-size: 18px;
  border-radius: 3px;
  margin-bottom: 2vh;
  border: none;
}

.all-comments-box{
  padding: 20px;
}

.comments-index{
  max-height: 300px;
  margin-bottom: 20px;
  overflow: scroll;
  border: 2px solid #bf8188;
  border-radius: 5px;

}

.comments-title{
  margin-bottom: 20px;
}

.comments_lists{
  font-size: 15px;
  display: block;
  min-height: 50px;
}

.comment_info{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #bf8188;
}

.comment_user{
  font-size: 12px;
  margin: 20px 0 3px 0;
}

.comments_text{
  margin-right: 25px;
  font-weight: bold;
}

/* /コメント */