<div class="all-comments-box">
  <h3 class="comments-title">
  コメント一覧
  </h3>
  <div class="comments_lists">
    <% @comments.each do |comment| %>
    <div class="comment_user">
    <%= link_to '送信者：' + comment.user.nickname, user_path(comment.user.id) %>
    </div>
    <div class="comments_list">
      <%= comment.comment %>
    </div>
    <% end %>
  </ul>
</div>