<%# app/assets/stylesheets/articles/new.css %>

<div class="article-contents">
  <header class="article-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), root_path %>

  </header>
  <div class="article-main">
    <h2 class="article-title">投稿記事を編集する</h2>
    <%= render "form" %>
  </div>

  <footer class="items-sell-footer">
    <%= render "shared/footer_light_ver" %>
  </footer>
</div>