<div class="article-contents">
  <header class="article-header">
    <%= link_to image_tag('kch-logo-color' , size: '185x50'), root_path %>
  </header>
  <div class="article-main">
    <h4 class="article-title">記事の投稿フォーム</h4>
    <%= render "form" %>
  </div>
</div>
