* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  height: 13vh;
  padding: 2vh 3vw;
  display: flex;
  flex-direction: column;
  background-color: #bf8188;
}

.kch-icon {
  width: 10vw;
  margin-right: 10vw;
  vertical-align: revert;
}

.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 20vw;
  height: 5vh;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid black;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #44281e;
  padding: 6px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 1vh;
  align-items: center;
}

.lists-left {
  display: flex;
  min-width: 200px;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  font-weight: bold;
  color: #44281e !important;
  font-size: 20px;
  
}

.contact-form{
  text-decoration: none;
  color: #44281e !important;
}

.header-icons{
  margin-right: 20px;
}


.logout {
  text-decoration: none;
  color: #fff !important;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #fff !important;
}

.sign-up {
  text-decoration: none;
  color: #fff !important;
}

@media screen and (max-width:480px) {

  .nav {
    height: 14vh;
    font-size: 16px;
  }
  
  .top-page-header {
    height: 14vh;
    width: 100%;
  }

  .kch-icon {
    width: 30vw;
    margin-right: 7vw;
  }

  .lists-left {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto 0;
  }

  .search-form {
    width: 90%;
    height: 4vh;
    display: flex;
    margin-bottom: 5px;
  }

  .search-form > .input-box {
    font-size: 14px;
    width: 100%;
    height: 4vh;
    padding-left: 10px;
  }

  .lists-right{
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .user-nickname {
    font-size: 16px;
  }
  
  .font-awesome-envelope:before {
    content:"\f0e0";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-style: none !important;
  }

  .font-awesome-envelope:before > i {
    font-style: none !important;
  }


  .font-awesome-bell:before{
    content:"\f0f3";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
  }

  .font-awesome-news:before{
    content:"\f1ea";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
  }

  .font-awesome-user:before{
    content:"\f007";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
  }

  .fa-envelope,
  .fa-bell,
  .fa-user,
  .fa-newspaper {
    display: none !important;
  }
  
}

@media screen and (min-width:481px) and (max-width: 1024px){

  .kch-icon {
    width: 30vw;
    margin-right: 0;
  }

  .top-page-header {
    width: 100%;
    height: 14vh;
    padding: 1vh 3vw;
  }

  .lists-left {
    min-width: 350px;
  }

  .input-box {
    width: 100%;
  }

  .search-form {
    width: 100%;
    height: 4vh;
  }

  .search-form > .input-box {
    width: 80%;
    height: 4vh;
  }

  .lists-right {
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }

  .locale-icon{
    font-size: 20px;
  }
}