.correct-msg-box{
  background-color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.correct-msg-main{
  background-color: #fff;
  width: 70vw;
  height: 75%;
  min-width: 450px;
  padding: 0 10vw;
}

.target-msg{
  margin-bottom: 40px;
  text-align: center;
}

.target-msg > span{
  font-size: 18px;
  font-weight: bold;
}

.correct-form{
  align-items: center;
}

.correct-text-field{
  margin: 0 auto;
  width: 60%;
}

.input-form{
  width: 100%;
  padding: 5px;
  max-height: 200px;
  border: 1px solid black;
}

@media screen and (max-width:767px) {

  .correct-msg-box{
    background-color: #fff;
    min-width: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 2vh 3vw;
  }

  .correct-msg-main{
    background-color: #FFF;
    width: 70vw;
    height: 75%;
    min-width: 450px;
    padding: 0;
  }

  .target-msg {
    margin: 0 0 40px 0;
  }

  .input-form{
    margin-bottom: 20px;
  }

}