.news-header{
  display: inline-block;
  padding: 0 60px 0 20px;
  width: 100%;
  margin-top: 3vh;
}

.header-name{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width:480px) {

  .news-header{
    padding: 0 20px;
    margin-top: 0;
  }

  .header-name{
    font-size: 14px;
  }
}

@media screen and (min-width:481px) and (max-width: 1024px){

  .news-header{
    padding: 0 20px;
    margin-top: 0;
    margin-bottom: 2vh;
  }
}