<%= render "ko/shared/header" %>
<div class='main'>
  <div class="room-main">
    <%= render "ko/rooms/rooms" %>
    <div class="mesgs pt-5 text-center pc-size">
      <h4>메시지를 시작하자!</h4>
    </div>
    <div class="mesgs pt-5 text-center tb-size">
      <h4>메시지를 시작하자!</h4>
    </div>
  </div>
</div>