.notifications-container{
  width: calc(100vw - 20vw);
  padding: 20px;
}

.notifications-list{
  margin: 0 auto;
  width: 50%;
  height: 100%;
  overflow: scroll;
}

.notifications-box{
  width: 90%;
  height: 11vh;
  border: 1px solid #bf8188;
  border-radius: 3px;
  margin: 0 auto 10px;
  display: flex;
}

.notifications-box > .icon-box {
  margin: auto 5px;
}

.notification-text-box{
  padding: 10px;
}

.notifications-info{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.concerned-item{
  font-size: 13px;
}

@media screen and (max-width: 1024px){

  .notifications-container{
    width: 100%;
    padding: 20px 0;
  }

  .notifications-list{
    width: 60%;
  }

  .notifications-box{
    height: 8vh;
  }

  .notification-text-box{
    font-size: 16px;
  }

  .concerned-item{
    font-size: 10px;
  }
}

@media screen and (max-width:767px) {

  .notifications-container{
    width: 100%;
    padding: 2vh 3vw;
  }

  .notifications-list{
    width: 100%;
  }

  .notifications-box{
    height: 12vh;
    width: 95%;
  }

  .notifications-box > .icon-box {
    margin: 0;
  }

  .notification-text-box{
    font-size: 14px;
  }

  .concerned-item{
    font-size: 10px;
  }

  .notifications-info > .created-time{
    font-size: 10px;
  }
}