<%= render "shared/header" %>
<%= render "shared/post-bar" %>
<%= render "shared/side-bar" %>
<%= render "rooms" %>
<div class="mesgs pt-5 text-center">
  <h4 style="font-weight: bold">メッセージを始めよう！</h4>
</div>