<%= render "shared/header" %>
<%= render "shared/post-bar" %>
<div class='main'>
  <%= render "shared/side-bar" %>
  <div class="main-bar">
    <%= render "rooms" %>
    <div class="mesgs pt-5 text-center">
      <h4>メッセージを始めよう！</h4>
    </div>
  </div>
</div>