a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

a:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('kch-header01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 40px;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の帯部分 */

/* ３つの広場の部分 */
.all-contents-intro {
  padding: 5vh 15vw;
}

.all-contents-intro>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.all-contents-intro>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.contents-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contents-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 15px;
  width: 100%;
}

.contents-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #3ccace;
  color: #fff;
}

.contents-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.contents-blue-text {
  color: #3ccace;
}

.contents-description {
  font-size: 18px;
}

/* //３つの広場の部分 */


/* 画面中央の「韓国好きが集まる場所、K.ch」帯部分 */
.ad-contents {
  width: 100vw;
  background-image: image-url('furima-header02.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面中央の「韓国好きが集まる場所、K.ch」帯部分 */

/* トップ記事 */

.pickup-articles {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.pickup-articles>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.pickup-articles>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.aticle-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  list-style: none;
}


.article-img-content {
  position: relative;
}

.article-img {
  width: 33vh;
  height: 33vh;
}

.article-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.article-name {
  font-size: 2.5vh;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}
/* //トップ記事 */

/* ログイン後の表示 */
.post-bar{
  height: 8vh;
  background-color: dimgray;
  text-align: center;
  align-items: center;
  display: flex;
}

.link{
  margin: 0 auto;
}

.link-post-btn{
  width: 70vw;
}

.post-btn{
  text-align: center;
  background-color:#3ccace;
  font-weight: bold;
  color: #FFF;
  padding: 10px;
  margin: 0 auto;
}

.secound-main{
  display: flex;
}

.side-bar{
  width: 20vw;
  background-color: blue;
  padding: 20px;
}

.main-bar{
  width: calc(100vw - 20vw);
  background-color: coral;
}

.plaza-list{
  background-color: gold;
  margin-bottom: 30px;
}

.plaza-header{
  margin-bottom: 5px;
  background-color: firebrick;
}

.plaza-name{
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: firebrick;
}

.main-bar{
  display: flex;
  flex-wrap: wrap;
  align-content:stretch;
  overflow: scroll;
}

.article-box{
  min-height: 40vh;
  background-color: green;
  width: 36vh;
  margin: 20px;
  padding: 3vh 10px;
}

.article-body{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item-img{
  width: 33vh;
  height: 33vh;
}

.created-time{
  font-size: 10px;
  color: darkgray;
}
/* //ログイン後の表示 */