* {
  box-sizing: border-box;
}

.post-bar{
  height: 8vh;
  background-color: dimgray;
  text-align: center;
  align-items: center;display: flex;
  
}

.post-message{
 padding: 6px;
 background-color: firebrick;
 margin: 0 auto;
}

.secound-main{
  display: flex;
}

.side-bar{
  width: 20vw;
  height: 100vh;
  background-color: blue;
  padding: 20px;
}

.main-bar{
  width: calc(100vw - 20vw);
  height: 100vh;
  background-color: coral;
}

.plaza-list{
  background-color: gold;
  margin-bottom: 30px;
}

.plaza-header{
  margin-bottom: 10px;
  background-color: firebrick;
}

.plaza-name{
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: firebrick;
}

.main-bar{
  display: flex;
}

.article-box{
  flex-wrap: wrap;
  min-height: calc(100vh - 161px);
  background-color: green;
  width: calc((100% - 40px) / 3);
  margin: 20px 20px 20px 10px;
}