// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}


.profile-images{
  height: 40vh;
  position: relative;
  width: calc(100vw - 20vw);
  display: flex;
}

.cover-img{
  height: 40vh;
  width: 100vw;
  z-index: 1;
}

.user-icon{
  border-radius: 50%;
  margin: 0 auto;
  border: 4px solid white ;
}

.profile-bar{
  height: 10vh;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 5;
}

.edit-profile-icon{
  position: absolute;
  z-index: 2;
  right: 20vw;
  bottom: 20px;
}

.profile-info{
  background-color: brown;
}

.user-articles{
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 20vw);
}