<% if I18n.locale.to_s == "ja"%>
  <p><%= @resource.email %>さん、こんにちは</p>

  <p>いつもKchannelをご利用いただき誠に有難うございます。パスワードの再設定は以下のURLから手続きください。</p>

  <p><%= link_to 'パスワードを再設定する', edit_user_password_url( @resource, reset_password_token: @token, locale: :ja ) %></p>
  <p></p>
  <p>このメールに見覚えがない場合はご放念ください。</p>
  <p>【ご注意】</p>
  <p>※本メールのご案内はシステムによる自動送信を行っています。</p>
  <p>お問合せはアプリ内部のお問合せフォームをご利用くださいませ。</p>
  <p></p>

  <p>--------------------</p>
  <p>Kchannel運営事務局</p>
  <p>責任者： ○○</p>
  <p>E-mail: ○○@example.com</p>
  <p>電話番号：000-0000-0000</p>
  <p>住所：〒000-0000  東京都○○区△△町0-0-0</p>
  <p>--------------------
<% else %>
  <p><%= @resource.email %>씨, 안녕하세요.</p>

  <p>언제나 Kchannel를 이용하셔 정말 감사합니다.비밀번호의 재설정은 이하의 URL에서 수속해 주세요.</p>

  <p><%= link_to '비밀번호를 재설정한다', edit_user_password_url( @resource, reset_password_token: @token, locale: :ko ) %></p>
  <p></p>
  <p>이 메일에 본 기억이 없는 경우는 안심해 주세요.</p>
  <p>【주의】</p>
  <p>※이 메일의 안내는 시스템에 의한 자동 송신을 실시하고 있습니다。</p>
  <p>문의는 앱 내부의 문의 폼을 이용해 주세요.</p>
  <p></p>
  <p>--------------------</p>
  <p>Kchannel 운영 사무국</p>
  <p>책임자: ○○</p>
  <p>E-mail: ○○ @example.com</p>
  <p>전화 번호:000-0000-0000</p>
  <p>주소:(우) 000-0000 도쿄도 ○○ 구 △△ 마을 0-0-0</p> 
  <p>--------------------</p>
<% end %>