.profile-box{
  display: flex;
  width: calc(100vw - 20vw);
  height: 50vh;
}

.profile-bar{
  height: 50vh;
  width: 50%;
}

.cover-images{
  height: 50vh;
  width: 50%;
  position: relative;
}

.cover-img{
  position: absolute;
  height: 40vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
  object-fit:scale-down;
}

.pofile-image-name{
  width: 100%;
  height: 20vh;
  position: relative;
  display: flex;
}

.icon-box{
  width: 120px;
  height: 100%;
  position: relative;
}

.user-icon{
  border-radius: 50%;
  border: 1px solid black;
}

.coutry-icon{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.edit-profile-icon{
  color: #fff !important;
}

/* タブメニュー */
.user-nav-bar{
  height: 5vh;
  display: flex;
  margin-bottom: 10px;
  padding: 0 10px;
}

.nav-title{
  width: auto;
  padding: 0 10px;
}

.tab-nav-item{
  background-color: #bf8188;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  margin-right: 10px;
  padding: 5px;
}

.tab-nav-item.is-active{
  background-color: #44281e;
  color: #fff;
}

.nav-items{
  height: 100%;
  display: flex;
  display: none;
  flex-wrap: wrap;
}

/* /タブメニュー */

/* フォロー・フォロワー */

.partner-box{
  margin: 0 0 20px 20px;
  width: 20vw;
  display: flex;
  border: 1px solid #ccc;
}

.relation-user-img-box{
  margin-right: 8px;
  position: relative;
}

.relationship-user-name{
  font-weight: bold;
}

.relationship-user-intro{
  margin-top: 10px;
  font-size: 10px;
}

/* /フォロー・フォロワー */
