// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}
.set-center{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.set-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.name-box{
  height: 100px;
  width: 80%;
  position: relative;
  text-align: center;
  align-items: center;
}

.user-name-box{
  height: 55%;
  font-size: 25px;
  font-weight: bold;
  width: 80%;
  border-bottom: 1px solid #bf8188;
  margin: 0 auto 10px;
  align-items: center;
  position: relative;
}

.user-name{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sub-profile{
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px;
}

.user-age{
  font-size: 13px;
  color: darkgray;
  font-weight: bold;
}

.intro-box{
  height: calc(50vh - 20vh);
  padding: 20px;
}

.intro-title{
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.user-follow-btn{
  margin-right: 5vw;
}

.intro-text{
  padding: 10px;
}

.user-articles{
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 20vw);
}

.add-cover-icon{
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  cursor: pointer;
}

.add-icon{
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  cursor: pointer;
}

/* ユーザー情報の更新ページ */


.edit-intro{
  padding: 10px;
  height: 120px;
  width: 35vw;
}

.other-info-box{
  width: 100%;
}

.field-e-user{
  width: 50%;
  margin: 0 auto 20px;
}

.actions{
  display: flex;
  font-weight: bold;
}

/* //ユーザー情報の更新ページ */
