// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}
.set-center{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.set-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* ユーザー詳細ページ */

.name-box{
  height: 100px;
  width: 80%;
  position: relative;
  text-align: center;
  align-items: center;
}

.edit-page > .name-box{
  height: 100px;
  width: 80%;
  position: relative;
  text-align: left;
  align-items: center;
}

.user-name-box{
  height: 55%;
  font-size: 25px;
  font-weight: bold;
  width: 80%;
  border-bottom: 1px solid #bf8188;
  margin: 0 auto 10px;
  align-items: center;
  position: relative;
}

.user-name{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.sub-profile{
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px;
}

.user-age{
  font-size: 13px;
  color: darkgray;
  font-weight: bold;
}

.intro-box{
  height: calc(50vh - 20vh);
  padding: 20px;
}

.intro-title{
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.user-follow-btn{
  margin-right: 5vw;
}

.intro-text{
  padding: 10px;
}

.user-articles{
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 20vw);
}

.add-cover-icon{
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  cursor: pointer;
}

.add-icon{
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  cursor: pointer;
}

/* ユーザー情報の更新ページ */


.form-intro-label{
  width: 100%;
}

.edit-intro{
  padding: 10px;
  height: 120px;
  width: 35vw;
  padding: 5px;
  border: 1px solid black;
}

.other-info-box{
  width: 100%;
}

.field-e-user{
  width: 50%;
  margin: 0 auto 30px;
}

.edit-user-name{
  padding: 0 10px;
}

.field-label{
  width: 50%;
  margin: 0 auto;
}

.field-input{
  display: flex;
}

.field-input > .input-box{
  border:1px solid black;
  padding: 0 10px;
  margin: 0 auto;
  width: 50%;
}

.actions{
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
}

/* //ユーザー情報の更新ページ */

@media screen and (max-width:480px) {

  .sp-hidden{
    overflow: hidden;
  }

  .name-box{
    height: 80px;
    width: 100%;
  }

  .user-name-box{
    width: 90%;
  }

  .user-name{
    font-size: 20px;
  }

  .user-follow-btn {
    margin-right: 0;
    font-size: 13px;
  }

  .intro-box{
    height: auto;
    padding: 2vh 2vw;
  }

  .intro-title{
    font-size: 17px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 15px;
  }

  .intro-text{
    padding: 2vh 2vw;
    font-size: 14px;
  }

  .add-icon{
    width: 20px;
    height: 20px;
  }

  .edit-intro{
    width: 100%;
  }

  .other-info-box{
    width: 100%;
    padding: 0 3vw;
    justify-content:center;
  }

  .field-e-user{
    width: 90%;
    margin-bottom: 20px;
  }

  .field-label{
    width: 80%;
  }

  .field-input > .input-box{
    width: 80%;
  }
}

@media screen and (max-width: 1024px){

  .intro-box{
    height: 17vh;
  }

  .edit-intro{
    height: 10vh;
    width: 100%;
  }

  .field-e-user{
    width: 100%;
  }

  .other-info-box{
    margin-top: 20px;
  }
}